@model FreshMart.Models.Location

@{
    ViewData["Title"] = "Details";

    bool isAdmin = User.IsInRole("Administrator");
}

<h1>Details</h1>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSchedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSchedule)
        </dd>
    </dl>
</div>
<div>
    @if (isAdmin)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary action-btn">Edit</a>
    }
    <a asp-action="Index" class="btn btn-primary action-btn">Back to List</a>
</div>
