@model IEnumerable<FreshMart.Models.Product>

@{
    ViewData["Title"] = "Index";
    bool isAdmin = User.IsInRole("Administrator");
}

<h1>Index</h1>
@if (isAdmin)
{
    <a asp-action="Create">Create New</a>
}
<form asp-action="Index">
    <div class="input-group md-form form-control-sm form-2 pl-0">
        <input name="productName" class="form-control my-0 py-1 table-bordered" type="text" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-outline-success" id="search-button">Search</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            <td>
                <div class="btn-group">
                    <form method="post" action="@Url.Action("AddToCart", "ShoppingCarts")" style="display: inline;">
                        <div class="input-group">
                            <input type="hidden" name="productId" value="@item.Id" />
                            <input class="form-control form-control-sm" type="number" name="quantity" value="1" min="1" style="width: 60px; height: 10px" />
                             <div class="form-action-button" style="margin-left: 10px;">
                                <button class="btn btn-danger" type="submit">Add to Cart</button>
                            </div>
                        </div>
                    </form>
                        @if (isAdmin){
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
